.result-container {
    background: url(../images/result-background.jpg);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-attachment: fixed;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 90px;
    background-size: cover;
}
.result-container .result-wrapper{
    font-size: 40px;
    color: black;
    padding: 30px;
    position: fixed;
    top: 100px;
}