.result-container .result-wrapper {
    background: url(../images/result-background.jpg);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-attachment: fixed;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 90px;
    background-size: cover;
}