.test-container .header-wrapper {
    height: 90px;
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-image: linear-gradient(#ffffff, #ffffff);
    top: 0px;
}

.test-container .name-app {
    text-shadow: aquamarine 2px 2px;
    text-decoration: none;
    text-align: center;
    line-height: 90px;
    padding-left: 50px;
    padding-right: 90px;
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 500px;
}

.test-container .header-wrapper .middel-section {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    background-origin: padding-box;
}

.test-container .header-wrapper .middel-section .cursor-pointer .menu-personalities {
    display: none;
    margin-top: 2px;
    border-radius: 10px;
}

.test-container .header-wrapper .middel-section .cursor-pointer:hover .menu-personalities {
    display: flex;
}

.test-container .header-wrapper .middel-section .cursor-pointer .menu-personalities li {
    background: #cad8dd;
    height: 50px;
    line-height: 50px;
    margin-top: 4px;
    border-radius: 10px;
    list-style: none;
}

.test-container .header-wrapper .middel-section>ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    line-height: 20px;
    height: 90px;
}

.test-container .header-wrapper .middel-section>ul>li {
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: #576071;
    width: 200px;
    text-align: center;
    line-height: 90px;
}

.test-container .header-wrapper .right-section {
    display: flex;
    line-height: 90px;
    width: 300px;
    justify-content: space-evenly;
    font-size: 18px;
    color: #576071;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.test-container .test-wrapper {
    background-image: url(../images/test-background.gif);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    flex-direction: column;
}

.test-container .test-wrapper .slider {}

.test-container .test-wrapper #submit {
    margin: 30px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    color: #576071;
    outline: none;
}

input[type="range"] {
    width: 400px;
    height: 90px;
}

.test-container .test-wrapper #question {
    height: 50px;
    /* background-color: #ffffff; */
    width: max-content;
    text-align: center;
    line-height: 50px;
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 10px;
    background: #d4dbe1;
    padding-left: 10px;
    padding-right: 10px;
}

.test-container .test-wrapper #form-choose {
    height: 70px;
    margin-top: 20px;
}